.v3_5 {
  display: flex;
  width: 100%;
  min-height: 100vh;
}
.v3_6 {
  width: 1800px;
  min-height: 100%;
}
  
.v4_9 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: url('../../public/img/v4_9.png') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}

.v4_30 {
  color: white;
  text-align: center;
  margin: 0;
}

.v4_31 {
  color: rgb(184, 180, 180);
  text-align: center;
  margin: 0;
}
  
.v4_11 {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}
  
.v4_10 {
  width: 100%;
  color: rgba(255,255,255,1);
  font-family: Segoe UI Historic;
  font-weight: Regular;
  right: -50px;
  font-size: 32px;
  opacity: 1;
  text-align: center;
  margin-bottom: 80px;
}
  
.v4_12 {
  width: 100%;
  color: rgba(255,255,255,1);
  font-family: Segoe UI Historic;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
  
.v9_33 {
  width: 100%;
  color: rgba(255,255,255,0.5);
  font-family: Segoe UI Historic;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  margin-bottom: 50px;
}
  
.v4_20 {
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 50px;
  height: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  place-items: center;
  background-color: #e8eaf7;
  font-size: 25px;
}
  
.v4_21 {
  width: 100%;
  height: 35px;
  font-size: 15px;
  margin-left: 5px;
  outline: none;
  border: none;
  color: rgb(0, 0, 0);
  border-radius: 0.3em;
  background: transparent;
}
  
.v4_20 i{
  color: rgb(0, 0, 0);
}
  
.v4_22 {
  width: 137px;
  color: rgba(255,255,255,1);
  font-family: Segoe UI Historic;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
  
.v4_26 {
  width: 80px;
  color: rgba(255,255,255,1);
  font-family: Segoe UI Historic;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
  
.v4_27 {
  width: 100%;
  height: 50px;
  background: #554e85;
  opacity: 1;
  border-radius: 5px;
  border: none;
  overflow: hidden;
  color: white;
  font-size: 20px;
}

.v4_27:hover{
  background: #695ea4;
}
  
@media screen and (max-width: 992px) {
  .v3_6{
    display: none;
  }
  
  .v4_10{
    text-align: center;
  }
}
  
@media screen and (max-width: 1024px) {
  .v4_30 {
    position: absolute;
    top: 660px;
    left: 50px;
    text-align: center;
  }
    
  .v4_31 {
    width: 337px;
    color: rgba(255,255,255,0.5);
    position: absolute;
    top: 680px;
    left: 100px;
    text-align: center;
  }
  
}
  
@media screen and (max-width: 600px) {
  .v3_6{
    display: none;
  }
  
  .v4_10{
    text-align: center;
  }
  
  .v4_11{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
  